.logo {
    font-weight: 200;
    font-size: 20px;
}

.header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

header-middle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 328px;
}

header-right {
    min-width: 345px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.ant-layout .k-layout-header {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    position: fixed;
    top: 0;
    z-index: 100;
}



.ant-layout .k-layout-content {
    background: #fff;
    min-height: 300px;
    padding: 0 16px;
    box-sizing: border-box;
    height: calc(100vh - 56px);
    overflow-y: auto;
    margin-top: 56px;
}

.ant-layout .k-layout-sider {
    border-right: 1px solid #efefef;
    height: calc(100vh - 56px);
    overflow-y: auto;
    margin-top: 56px;
}

.ant-layout .ant-layout-sider-trigger {
    box-sizing: border-box;
    left: -1px;
}

.k-page-name {
    font-size: 30px;
    margin-bottom: 30px;
}

.loading {
    background: #ff0000;
}

.k-label {
    display: inline-block;
    padding: 0 12px;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    border-radius: 12px;
    background: #87d068;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.k-form-section-title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #1763fb;
    border-left: 4px solid #1763fb;
}

.k-page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    margin-bottom: 16px;
    padding: 10px 0;
}
.k-page-header-main {
    flex: 1 1;
    display: flex;
    align-items: center;
}
.k-page-header-title {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}
.k-page-header-action {
    flex: 1 1;
    text-align: end;
}

.k-form-item-v .ant-form-item-row {
    display: block;
}
.k-form-item-v .ant-form-item-control-input {
    display: block;
}
