.header {
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0  .5rem;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /*box-shadow: 0 1px 1px rgba(0,0,0, 0.10);*/
    box-sizing: border-box;
}

.header-left {
    flex: 0 0;
}

.header-middle {
    flex: 1 1 auto;
}

.header-right {
    flex: 0 0;
    display: flex;
    align-items: center;
}

.header-logo {
    color: #6FBEF3;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.header-menu-user {
    text-align: center;
    padding:  1rem;
    background: #eee;
    font-size: 1.5rem;
    white-space: nowrap;
}

.header-menu {

}
@media (min-width: 600px) {
    .header {
        height: 5rem;
    }
}
