.login-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 3em;
    background: #FFFFFF;
}

.login-method, .login-social {
    margin: 0 auto;
    padding: var(--form-padding) var(--form-padding) 0;
}
.login-method button, .login-social button {
    width: 100%;
}
.login-form-code {
    display: flex;
    align-items: center;
    margin-bottom: var(--input-margin);
}

.login-form .login-form-code input {
    flex: 1 1;
    margin: 0 var(--input-margin) 0 0;
}

.login-form-code button {
    flex: 0 0;
}